@page
@model eLearning_Admin.Pages.Students.EditModel
@{
}
<div class="container">
    <h1>@Model.Student.FirstName</h1>
    <hr />

    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Student.Id" />
        <div class="row mb-3">
            <div class="col">
                <label class="form-label">الاسم الاول</label>
                <input asp-for="Student.FirstName" class="form-control" />
                <span asp-validation-for="Student.FirstName" class="text-danger"></span>
            </div>
            <div class="col">
                <label class="form-label">الاسم الاخير</label>
                <input asp-for="Student.LastName" class="form-control" />
                <span asp-validation-for="Student.LastName" class="text-danger"></span>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col">
                <label class="form-label">الايميل</label>
                <input asp-for="Student.Email" class="form-control" />
                <span asp-validation-for="Student.Email" class="text-danger"></span>
            </div>
            <div class="col">
                <label class="form-label">الهاتف</label>
                <input asp-for="Student.PhoneNumber" class="form-control" />
                <span asp-validation-for="Student.PhoneNumber" class="text-danger"></span>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col">
                <label class="form-label">تاريخ الميلاد</label>
                <input asp-for="Student.DateOfBirth" class="form-control" />
                <span asp-validation-for="Student.DateOfBirth" class="text-danger"></span>
            </div>
            <div class="col">
                <label class="form-label">كلمة المرور</label>
                <input asp-for="Student.PasswordHash" class="form-control" />
                <span asp-validation-for="Student.PasswordHash" class="text-danger"></span>
            </div>
        </div>

        <div class="mb-3">
            <input type="submit" value="تعديل" class="btn btn-primary" />
        </div>
    </form>

    <div>
        <a asp-page="./Index">العودة الى قائمة الطلاب</a>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}