@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<h1>هل نسيت كلمة السر؟</h1>
<h2>ادخل البريد الالكتروني.</h2>
<hr />
<div class="container">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="mb-3">
                <label asp-for="Input.Email" class="form-label"></label>
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-primary">استرجاع الرقم السري</button>
        </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
