@page
@model eLearning_Admin.Pages.ZoomLessons.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ZoomMeeting</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ZoomMeeting.Id" />
            <div class="form-group">
                
                <label asp-for="ZoomMeeting.ZoomMeetingId" class="control-label"></label>
                <input asp-for="ZoomMeeting.ZoomMeetingId" class="form-control" />
                <span asp-validation-for="ZoomMeeting.ZoomMeetingId" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label asp-for="ZoomMeeting.StartTime" class="control-label"></label>
                <input asp-for="ZoomMeeting.StartTime" class="form-control" />
                <span asp-validation-for="ZoomMeeting.StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label asp-for="ZoomMeeting.Duration" class="control-label"></label>
                <input asp-for="ZoomMeeting.Duration" class="form-control" />
                <span asp-validation-for="ZoomMeeting.Duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label asp-for="ZoomMeeting.JoinUrl" class="control-label"></label>
                <input asp-for="ZoomMeeting.JoinUrl" class="form-control" />
                <span asp-validation-for="ZoomMeeting.JoinUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label asp-for="ZoomMeeting.StartUrl" class="control-label"></label>
                <input asp-for="ZoomMeeting.StartUrl" class="form-control" />
                <span asp-validation-for="ZoomMeeting.StartUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label asp-for="ZoomMeeting.Password" class="control-label"></label>
                <input asp-for="ZoomMeeting.Password" class="form-control" />
                <span asp-validation-for="ZoomMeeting.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label asp-for="ZoomMeeting.LessonId" class="control-label"></label>
                <select asp-for="ZoomMeeting.LessonId" class="form-control" asp-items="ViewBag.LessonId"></select>
                <span asp-validation-for="ZoomMeeting.LessonId" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label asp-for="ZoomMeeting.CreatedAt" class="control-label"></label>
                <input asp-for="ZoomMeeting.CreatedAt" class="form-control" />
                <span asp-validation-for="ZoomMeeting.CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label asp-for="ZoomMeeting.UpdatedAt" class="control-label"></label>
                <input asp-for="ZoomMeeting.UpdatedAt" class="form-control" />
                <span asp-validation-for="ZoomMeeting.UpdatedAt" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ZoomMeeting.IsDeleted" /> @Html.DisplayNameFor(model => model.ZoomMeeting.IsDeleted)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
