@page
@model eLearning_Admin.Pages.Blog.IndexModel

@{
    ViewData["Title"] = "Index";
}
<div class="container">
    <h1>المقالات</h1>
    <a asp-page="Create" class="btn btn-primary">اضافة مقالة جديدة</a>

    <table class="table">
        <thead>
            <tr>
                <th>العنوان</th>
                <th>الصورة</th>
                <th>اجراء</th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model.Blog) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostImage)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-success">تعديل</a>
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal" data-id="@item.Id">
                            حذف
                    </button>
                </td>
            </tr>
    }
        </tbody>
    </table>

    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">تاكيد حذف المقالة</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    هل انت متاكد من حذف هذه المقالة؟
                </div>
                <div class="modal-footer">
                    <form method="post">
                        <input type="hidden" id="deleteEntryId" name="deleteEntryId" />
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">اغلاق</button>
                        <button type="submit" class="btn btn-danger">تأكيد الحذف</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const deleteModal = document.getElementById('deleteModal');
            deleteModal.addEventListener('show.bs.modal', function (event) {
                const button = event.relatedTarget;
                const entryId = button.getAttribute('data-id');
                const input = document.getElementById('deleteEntryId');
                input.value = entryId;
            });
        });
    </script>
}
