@page
@model eLearning_Admin.Pages.Blog.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>المقالات</h1>

<p>
    <a asp-page="Create">اضافة مقالة جديدة</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>العنوان</th>
            <th>الصورة</th>
            <th>اجراء</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Blog) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostImage)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-success">تعديل</a>
                <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-danger">حذف</a>
            </td>
        </tr>
}
    </tbody>
</table>
