@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row mb-4">
    <div class="col">
        <div class="card">
            <div class="card-header">
                Featured
            </div>
            <div class="card-body">
                <h4 class="text-center">0</h4>
                <h5 class="card-title text-center">اجمالي عدد الدورات</h5>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-header">
                Featured
            </div>
            <div class="card-body">
                <h4 class="text-center">0</h4>
                <h5 class="card-title text-center">اجمالي عدد الحصص</h5>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-header">
                Featured
            </div>
            <div class="card-body">
                <h4 class="text-center">0</h4>
                <h5 class="card-title text-center">حصص عن طريق Meet</h5>
            </div>
        </div>
    </div>
</div>

<div class="row mb-4">
    <div class="col">
        <div class="card">
            <div class="card-header">
                Featured
            </div>
            <div class="card-body">
                <h4 class="text-center">0</h4>
                <h5 class="card-title text-center">حصص عن طريق Zoom</h5>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-header">
                Featured
            </div>
            <div class="card-body">
                <h4 class="text-center">0</h4>
                <h5 class="card-title text-center">اجمالي عدد المعلمين</h5>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-header">
                Featured
            </div>
            <div class="card-body">
                <h4 class="text-center">0</h4>
                <h5 class="card-title text-center">اجمالي عدد الطلبة</h5>
            </div>
        </div>
    </div>
</div>
<div class="row mb-4">
    <div class="col">
        <div class="card">
            <div class="card-header">
                Featured
            </div>
            <div class="card-body">
                <h4 class="text-center">0</h4>
                <h5 class="card-title text-center">اجمالي عدد المقالات</h5>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-header">
                Featured
            </div>
            <div class="card-body">
                <h4 class="text-center">0</h4>
                <h5 class="card-title text-center">فورم التواصل</h5>
            </div>
        </div>
    </div>
    <div class="col"></div>
</div>
<div class="row">
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
</div>
<div class="row">
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
</div>
