<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - eLearning_Admin</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/eLearning_Admin.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="row vh-100">
        <div class="col-2 sidebar">
            <header>
        <nav class="navbar navbar-expand-sm mb-3">
            <div class="container d-flex flex-column align-items-start">
                <a class="navbar-brand" asp-area="" asp-page="/Index">
                    <img src="/assets/Logo.webp" width="150" height="150"/>
                </a>
                <div class="justify-content-between">
                    <ul class="navbar-nav flex-grow-1 flex-column">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-page="/Index">الرئيسية</a>
                        </li>
                        <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-page="/Category/Index">التصنيفات</a>
                        </li>
                        <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-page="/Courses/Index">الدورات التعليمية</a>
                        </li>
                        <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-page="/Blog/Index">المقالات</a>
                        </li>
                        <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-page="/Blog/Index">الاعضاء</a>
                            <ul>
                                <li class="nav-item">
                                            <a class="nav-link text-white" asp-page="">الادمن</a>
                                </li>
                                <li class="nav-item">
                                            <a class="nav-link text-white" asp-page="Instructors/Index">المعلمين</a>
                                </li>
                                <li class="nav-item">
                                            <a href="#" class="nav-link text-white">الطلاب</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-page="/ContactForm/Index">فورم التواصل</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>

        </div>
        <div class="col-10">
            <div class="container py-4">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>

        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
