@using Microsoft.AspNetCore.Identity
@using Core.Models;
@inject SignInManager<BaseUser> SignInManager
@inject UserManager<BaseUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <div class="container">
        <div class="d-flex justify-content-between">
            <p>
                <a class="text-dark nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">اهلا @User.Identity?.Name!</a>
            </p>
            <hr />
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
                <input type="submit" value="تسجيل الخروج" class="btn btn-sm btn-danger"/>
            </form>

        </div>

    </div>
}