@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3>حسابك</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="container">
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="mb-3">
                <label class="form-label">الاسم الاول</label>
                <input asp-for="Input.FirstName" class="form-control" placeholder="Please enter your phone number." />
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label class="form-label">الاسم الاخير</label>
                <input asp-for="Input.LastName" class="form-control" placeholder="Please enter your phone number." />
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label class="form-label">رقم الهاتف</label>
                <input asp-for="Input.PhoneNumber" class="form-control" placeholder="Please enter your phone number."/>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label class="form-label">تاريخ الميلاد</label>
                <input type="date" asp-for="Input.DateOfBirth" class="form-control" placeholder="Please enter your phone number." />
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label class="form-label">كلمة السر</label>
                <input asp-for="Input.Password" class="form-control" placeholder="Please enter your phone number." />
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span> 
            </div>
            <div class="mb-3">
                <label class="form-label">البريد الالكتروني</label>
                <input asp-for="Input.Email" class="form-control" placeholder="Please choose your username." disabled />
                <small class="text-danger">لا يمكن تغيير البريد الالكتروني</small>
            </div>
            <button id="update-profile-button" type="submit" class="w-100 btn btn-primary">حفظ</button>
        </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
